* {
  box-sizing: border-box;
  margin: 0;
    padding: 0;
  }
  
  .grid1{
      display: flex;
  }

  .adminMenu{
      width: 300px;
      position: fixed;
  }
  
  .manageCategory{
      margin-left: 300px;
      width: calc(100vw - 300px);
  }
  .container1 {
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  .wrapper {
    width: 60%;
    height: 60%;
    background-color: #f1ebda;
    text-align: center;
    padding: 20px 0;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-control {
    text-align: left;
    margin-top: 10px;
  }
  

  
  .input {
    width: 100%;
    height: 30px;
  }
  
  .input input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }
  
  .input-textarea {
    width: 100%;
    height: 60px;
  }
  
  .input-textarea textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }
  
  .btn-submit {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #ab2c49;
    border: none;
    outline: none;
    border-radius: 5px;
  }

