<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/views/pages/admin/profileAdmin/profileAdmin.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>User Profile</h1>
      <div class="wrapper">
        <div class="content">
          <a href="">Change password</a>
          <h1>Personal Info</h1>
          <form action="">
            <div class="form-control">
              <div class="label">First Name</div>
              <div class="input">
                <input />
              </div>
            </div>
            <div class="form-control">
              <div class="label">Last Name</div>
              <div class="input">
                <input />
              </div>
            </div>
            <div class="form-control">
              <div class="label">Biography</div>
              <div class="input-textarea">
                <textarea rows="6" cols="100"></textarea>
              </div>
            </div>
            <button class="btn-submit">SAVE CHANGE</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
