.rightNavbar{
    width: 394px;
    box-shadow: -2px 0px 10px rgba(0,0,0,50%);
    min-height: 100vh;
    overflow: hidden;
    padding: 0 32px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    
}
.rightNavbar__getAccess{
    width: 100%;
    height: 38px;
    margin-top: 40px;
    text-align: center;
    background: black;
    border-radius: 50px;
    
}
.rightNavbar__getAccess > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    line-height: 38px;
}
.rightNavbar__body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px
}
.rightNavbar__search{
    margin-bottom: 30px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 20px;
    display: flex;
    width: 100%;
    height: 40px;
}
.rightNavbar__search--icon{
    width: 40px;
    height: 100%;
    padding: 7px;
    text-align: center;
    font-size: 19px;
    display: flex;
    align-items: center;
}
.rightNavbar__search--input{
    background: transparent;
    padding: 8px 0 11px;
    outline: none;
    border: none;
    margin-right: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
}
.rightNavbar__blogToday{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    border-bottom:  0.1px solid rgba(218, 197, 197, 0.5);
    padding-bottom: 30px;
}
.rightNavbar__blogToday--access{
    margin-bottom: 22px;
}
.rightNavbar__blogToday--access > a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.rightNavbar__blogToday--access > a > div{
    background:rgb(26, 137, 23);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-bottom: 1px;
    margin-right: 8px;
    display: inline-block;
}
.rightNavbar__blogToday--blog{
    padding-bottom: 20px;
    width: 100%;
}
.blogToday__author{
    margin-bottom: 8px;
    width: fit-content;
    height: 20px;

}
.blogToday__author > a{
    text-decoration: none;
    height: 20px;
    display: flex;
    align-items: center;
}
.blogToday__author--avatar{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.blogToday__author--name{
    color: black;
    margin-left: 5px;
    font-size: 13px;
    font-weight: 500;
}
.blogToday__title{
    color: black !important;
    width: 100%;
    height: fit-content;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
.rightNavbar__blogToday--accessList{
    width: fit-content;
    text-decoration: none;
    color: rgba(26, 137, 23, 1);
    font-size: 13px;
    font-weight: bold;
}
.rightNavbar__recommendedTopics{
    padding-bottom: 30px;
}
.rightNavbar__recommendedTopics--header,.rightNavbar__recommendedAuthor--header,.rightNavbar__readinglist--header{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.rightNavbar__recommendedTopics--topics{
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.rightNavbar__recommendedTopics--topics > a{
    background: #f2f2f2;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    font-size:  14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 8px;
}
.recomendedAuthor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    width: 100%;
}
.rightNavbar__recommendedAuthor{
    margin-bottom: 40px;
}
.rightNavbar__recommendedAuthor--author{
    margin-bottom: 24px;
}
.recomendedAuthor__avatar > img{
    width: 48px;
    height: 48px;
    border-radius: 100px;
}
.recomendedAuthor__info{
    text-decoration: none;
    color: black;
}
.recomendedAuthor__info--description,.recomendedAuthor__info--name{
    overflow: hidden;
    line-height: 20px;
    max-height: 40px;
    max-width: 200px;
    display: -webkit-box; 
    -webkit-line-clamp: 2;/* Số dòng */
    -webkit-box-orient: vertical;
}
.recomendedAuthor__info--name{
    font-weight: 700;
    font-size: 16px;
}
.recomendedAuthor__info--description{
    font-size: 13px;
    font-weight: 400;
}
.recomendedAuthor__followButton{
    background: white;
    border-radius: 100px;
    padding: 5px 14px;
    line-height: 20px;
    font-size: 14px;
    border-width: 2px;
}
.recomendedAuthor__followButton:hover{
    background: black;
    color: white;
    transition: 0.5s;
}
.rightNavbar__recommendedAuthor--moreAuthor{
    color: rgba(26, 137, 23, 1);
    text-decoration: none;
    font-size: 13px;
}
.rightNavbar__readingList{
    padding-bottom: 40px;
}
.rightNavbar__readinglist--content{
    padding-top: 16px;
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    line-height: 20px;
}
.rightNavbar__footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px 0;
}
.rightNavbar__footer > a{
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    color: rgba(117, 117, 117, 1);
    margin-right: 6px;
}
@media (max-width:600px) {
    .rightNavbar{
        display: none;
    }
}