<div class="rightNavUser">
    <div class="rightNavUser__getAccess">
        <a href="http://">Get unlimited access</a>
    </div>
    <div class="rightNavUser__body">
        <div class="rightNavUser__search">
                <div class="rightNavUser__search--icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input class="rightNavUser__search--input" type="text" placeholder="Search">
        </div>
        <div class="rightNavUser__info">
            <a href="http://" class="userInfo__avatar">
                <img src="https://miro.medium.com/fit/c/110/110/0*9nuFDuWbcBYFXVMk" alt="" srcset="">
            </a>
            <a href="" class="userInfo__name">
                <h2>User name goes here</h2>
            </a>
            <div href="" class="userInfo__follower">
                <button>1k follower</button>
            </div>
            <p class="userInfo__description">Writer of memoir essays, pop culture and all the trivia you never knew you wanted.s</p>
        </div>
        <div class="rightNavFollowing">
            <span>Following</span>
            <ul class="rightNavFollowing__container">
                <li class="rightNavFollowing__item">
                    <a href="http://" class="rightNavFollowing__itemLeft">
                        <img src="https://miro.medium.com/fit/c/40/40/1*bv432jmMNECokjdowm0qMA.jpeg" alt="">
                        <p>Their name</p>
                    </a>
                    <div class="rightNavFollowing__itemRight">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="followFeature">
                            <ul>
                                <li><a href="http://">Unfollow this Author</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="rightNavFollowing__item">
                    <a href="http://" class="rightNavFollowing__itemLeft">
                        <img src="https://miro.medium.com/fit/c/40/40/1*bv432jmMNECokjdowm0qMA.jpeg" alt="">
                        <p>Their name</p>
                    </a>
                    <div class="rightNavFollowing__itemRight">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="followFeature">
                            <ul>
                                <li><a href="http://">Unfollow this Author</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="seeAllFollowing">See all list(number)</button>
        </div>
        <div class="rightNavBlock">
            <span>Block</span>
            <ul class="rightNavBlock__container">
                <li class="rightNavBlock__item">
                    <a href="http://" class="rightNavBlock__itemLeft">
                        <img src="https://miro.medium.com/fit/c/40/40/1*bv432jmMNECokjdowm0qMA.jpeg" alt="">
                        <p>Their name</p>
                    </a>
                    <div class="rightNavBlock__itemRight">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="followFeature">
                            <ul>
                                <li><a href="http://">Unblock this Author</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="rightNavBlock__item">
                    <a href="http://" class="rightNavBlock__itemLeft">
                        <img src="https://miro.medium.com/fit/c/40/40/1*bv432jmMNECokjdowm0qMA.jpeg" alt="">
                        <p>Their name</p>
                    </a>
                    <div class="rightNavBlock__itemRight">
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="followFeature">
                            <ul>
                                <li><a href="http://">Unblock this Author</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="seeAllBlock">See all list(number)</button>
        </div>
    </div>
    <div class="rightNavUser__footer">
        <a href="http://">Help</a>
        <a href="http://">Status</a>
        <a href="http://">Writers</a>
        <a href="http://">Blog</a>
        <a href="http://">Careers</a>
        <a href="http://">Privacy</a>
        <a href="http://">Terms</a>
        <a href="http://">About</a>
        <a href="http://">Knowable</a>
    </div>
</div>