<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/pages/user/readingList/readinglist.css">
    <title>Document</title>
</head>
<body>
    <div class="container_readinglist">
        <div class="navbar_display-flex">
            <div class="readinglist_info-display-flex">
                <div class="readinglist_avartar">
                    <img src="https://yt3.ggpht.com/ytc/AKedOLSeENtYFz6azvqqd1plM6VIkPfyg_SSh_MZ50U8SQ=s900-c-k-c0x00ffffff-no-rj" alt="">
                </div>
                <div class="radinglist_username">
                    <p>Cường Đặng</p>
                    <div class="radinglist_save_display-flex">
                        <p>Jul 26 . 7 stories</p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="readinglist_select">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
        <div class="reading_title">
            <h1>Reading list</h1>
        </div>
        <div class="readinglist_home">
            <!-- menu1 -->
            <div class="readinglist-home-menu">
                <div class="reading_add-note">
                    <input type="text" placeholder="Add note...">
                </div>
                <div class="reading_author">
                    <div class="author-avatar">
                        <img src="https://yt3.ggpht.com/ytc/AKedOLTte3VSETnoe3ZZdV-iyFnvvU7m2Zq-COxtwDha=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="author-username">
                        <p>Huấn Hoa Hồng .</p>
                    </div>
                    <div class="author-date">
                        <p>jun 12</p>
                    </div>
                </div>
            <div class="reading_home-content">
                <div class="reading_content">
                    <div class="content-title">
                        <h1>Huấn Hoa hồng (tên gọi khác: Huấn "Rose", tên thật: Bùi Xuân Huấn)</h1>
                        <div class="content-text">
                            <p>
                                Huấn Hoa hồng là một nhân vật nổi tiếng, có sức ảnh hưởng trên mạng xã hội và cũng là một hiện tượng mạng xã hội, được nhiều người biết đến khi liên tục xuất hiện trong các buổi truyền phát trực tiếp trên mạng xã hội Facebook, những hình ảnh, video nói đạo lý, ăn chơi, khoe tài sản và có nhiều phát ngôn gây sốc, thường xuyên tụ tập với các đối tượng xăm trổ, tóc nhuộm, chửi bới, gây hấn với những giang hồ mạng khác... 
                            </p>
                        </div>
                    </div>
                    <div class="content-img">
                        <img src="https://static.tuoitre.vn/tto/i/s626/2013/12/16/KmL17RQM.jpg" alt="">
                    </div>
                </div>
                <div class="reading-product-boder">
                    <div class="reading_product">
                        <div class="reading_product-info">
                            <p class="reading_product-title">Product Management</p>
                            <p class="reading_product-time">3 min read</p>
                        </div>
                        <div class="product-icon">
                            <i class="fa-solid fa-bookmark icon-save"></i>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
             <!-- menu2 -->
             <div class="readinglist-home-menu">
                <div class="reading_add-note">
                    <input type="text" placeholder="Add note...">
                </div>
                <div class="reading_author">
                    <div class="author-avatar">
                        <img src="https://yt3.ggpht.com/ytc/AKedOLTte3VSETnoe3ZZdV-iyFnvvU7m2Zq-COxtwDha=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="author-username">
                        <p>Huấn Hoa Hồng .</p>
                    </div>
                    <div class="author-date">
                        <p>jun 12</p>
                    </div>
                </div>
            <div class="reading_home-content">
                <div class="reading_content">
                    <div class="content-title">
                        <h1>Huấn Hoa hồng (tên gọi khác: Huấn "Rose", tên thật: Bùi Xuân Huấn)</h1>
                        <div class="content-text">
                            <p>
                                Huấn Hoa hồng là một nhân vật nổi tiếng, có sức ảnh hưởng trên mạng xã hội và cũng là một hiện tượng mạng xã hội, được nhiều người biết đến khi liên tục xuất hiện trong các buổi truyền phát trực tiếp trên mạng xã hội Facebook, những hình ảnh, video nói đạo lý, ăn chơi, khoe tài sản và có nhiều phát ngôn gây sốc, thường xuyên tụ tập với các đối tượng xăm trổ, tóc nhuộm, chửi bới, gây hấn với những giang hồ mạng khác... 
                            </p>
                        </div>
                    </div>
                    <div class="content-img">
                        <img src="https://static.tuoitre.vn/tto/i/s626/2013/12/16/KmL17RQM.jpg" alt="">
                    </div>
                </div>
                <div class="reading-product-boder">
                    <div class="reading_product">
                        <div class="reading_product-info">
                            <p class="reading_product-title">Product Management</p>
                            <p class="reading_product-time">3 min read</p>
                        </div>
                        <div class="product-icon">
                            <i class="fa-solid fa-bookmark icon-save"></i>
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container-boder"></div>
</body>
</html>