<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/pages/user/yourPost/yourpost.css">
    <title>Document</title>
</head>
<body>
    <div class="container_yourpost">
        <div class="yourpost_title">
            <h1>Your Stories</h1>
            <div class="Story-select">
                <p>Write a story</p>
                <p>Import a story</p>
            </div>
        </div>
        <div class="yourpost_menu">
            <div class="menu-drafts">
                <p>Drafts 6</p>
            </div>
            <div class="menu-published">
                <p>Published</p>
            </div>
            <div class="menu-responses">
                <p>Responses</p>
            </div>
        </div>
        <div class="content-title">
            <h3>Tiêu Đề</h3>
            <p>Nội dung post</p>
            <p>last edited about 1 hour ago . 1 min read(6 words) so far <i class="fa-solid fa-angle-down"></i></p>
        </div>
        <div class="content-title">
            <h3>Tiêu Đề</h3>
            <p>Nội dung post</p>
            <p>last edited about 1 hour ago . 1 min read(6 words) so far <i class="fa-solid fa-angle-down"></i></p>
        </div>
        <div class="content-title">
            <h3>Tiêu Đề</h3>
            <p>Nội dung post</p>
            <p>last edited about 1 hour ago . 1 min read(6 words) so far <i class="fa-solid fa-angle-down"></i></p>
        </div>
    </div>
</body>
</html>