<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/header/headerStyle.css">
    <link rel="stylesheet" href="/views/pages/user/viewPost/viewPostStyle.css">
    <link rel="stylesheet" href="/views/components/menu/menuStyle.css">
    <link rel="stylesheet" href="/views/components/rightNav/rightNavHomeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="allContainer">
        <!-- header -->
        <%- include('../../../components/header/header') %>
        <!-- header -->

        <!-- menu -->
        <%- include('../../../components/menu/menuUser') %>
        <!-- menu -->

        <!-- viewpost -->
        <div class="mainViewPost">
            <div class="viewPost__authorInfo">
                <div class="infoLeft">
                    <div class="infoLeft__avatar">
                        <a href="http://">
                            <img src="https://miro.medium.com/fit/c/96/96/1*n2ldTyujhlBRn5JVA-huXg.jpeg" alt="">
                        </a>
                    </div>
                    <div class="infoLeft__nameAndMore">
                        <div class="infoLeft__name">
                            Tran Huu Phuoc
                        </div>
                        <div class="infoLeft__more">
                            <div>
                                Apr 22
                            </div>
                            <p>-</p>
                            <a href="http://">Time read</a>
                        </div>
                    </div>
                </div>
                <div class="infoRight">
                    <div class="infoRight__feature">
                        <button>
                            <i class="fa-regular fa-bookmark"></i>
                        </button>
                        
                    </div>
                    <div class="infoRight__moreFeature">
                        <button>
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="moreFeature__top">
                                <ul>
                                    <li><a href="http://">Show Less Like This</a></li>
                                    <hr class="post-spliter" style="margin:0px 20px">
                                    <li><a href="http://">Mute Author</a></li>
                                    <li><a href="http://">Report</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="featureMobile">
                <button class="featureMobile__button--save"><i class="fa-regular fa-bookmark"></i> Save</button>
                <button class="featureMobile__button--follow"><i class="fa-solid fa-plus"></i> Follow </button>
            </div>
            <div class="viewPost__post">
                <h1 class="viewPost__post--title">
                    Goodbye Gmail
                </h1>
                <div class="viewPost__post--content">
                    content rendered here!!!!!!!!!!!!!!
                    The old good email remains the most critical digital communication tool. What makes the venerable email so useful and sustainable over the long time is its openness and standardization. Email is radically different from the modern “apps” which integrate all pieces of technology — the server, the client, and the protocol — by a single monopolist provider. With email, we are free to choose the server (provider) and client with any combination. It provides enormous flexibility, added privacy and security. Indeed, the provider does not control my client and cannot add backdoors; there is no monoculture of client software with all the related security risks (any security vulnerability is global). Email is one of the few pieces of technology that is very resistant against internet censorship. Repressive state can easily block a web site and even force an app store to remove an app (as the Navalny’s “Smart Voting”). Also, an app store can delete it for any other bizarre reason. But it is much more difficult to block a mailing list: it is easy to redeploy and recreate it on a different server (without the users even noticing anything). Furthermore, The user can easily create several different email-based identities (e.g. a separate one for politically sensitive activity) which adds anonymity. And anonymity means physical security in some countries.

It is not surprising that many internet services use the email address to register users, authenticate, restore password and other similar purposes. Open, standardized and decentralized email is one of the most critical technology everything else depends on. After all, the flexibility offered by the email technology — the freedom to choose all pieces (provider, client etc.) is just very very handy, at least for an advanced user (you can add new features on top of what the provider realized, even against the provider’s will — isn’t it convenient?).

The whole email technology is build around open protocols rather than a centralized platform. This facilitates competition, makes for better and fairer service and reduce possible impacts of malicious monopolists (Masnick, 2019).

Google’s Gmail has long been one of the main pillars of email, millions used to rely upon every day. We should praise Google for popularising email as the basic mainstream technology among the masses. I started using Gmail many years ago when it was in its “beta” and available only by invitation. At that time Gmail openness and unrestricted nature was just blazing. The web interface was lightweight and not really cluttered with ugly banners, unlike other email providers. There were ads but they were small and unobtrusive. Gmail had long supported all the basic protocols (POP, IMAP, SMTP) that allowed to use any standard compliant client software, and that was available for free (some other providers were more greedy and allowed this only on paid plans). Google’s POP, IMAP and SMTP implementations have been (and still remain!) quite idiosyncratic, incomplete and not really standard-compliant which caused various glitches (e.g. message deletion and default sorting are weird, I always hated Gmail’s labels). But this was bearable.
                </div>
            </div>
            <div class="viewPost__bottomFeature">
                <div class="viewPost__bottomFeatureLeft">
                    <div class="bottomFeatureLeft__like">
                        <button>
                            <i class="fa-regular fa-hand"></i> 23
                        </button>
                    </div>
                    <div class="bottomFeatureLeft__comment">
                        <button>
                            <i class="fa-regular fa-comment"></i> 11
                        </button>
                    </div>
                    
                </div>
                <div class="viewPost__bottomFeatureRight">
                    <div class="bottomFeatureRight__feature">
                        <button>
                            <i class="fa-regular fa-bookmark"></i> 
                        </button>
                    </div>
                    <div class="bottomFeatureRight__moreFeature">
                        <button>
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="moreFeature__bottom">
                                <ul>
                                    <li><a href="http://">Show Less Like This</a></li>
                                    <hr class="post-spliter" style="margin:0px 20px">
                                    <li><a href="http://">Mute Author</a></li>
                                    <li><a href="http://">Report</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Like and comment sticky -->
            <div class="stickyBarContainer">
                <div class="stickyBar">
                <div class="stickyBar__like">
                    <button>
                        <i class="fa-regular fa-hand"></i> 23
                    </button>
                </div>
                <div class="stickyBar__comment">
                    <button>
                        <i class="fa-regular fa-comment"></i> 11
                    </button>
                </div>
                <div class="stickyBar__moreFeature">
                    <button>
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="moreFeature__stickyBar">
                            <ul>
                                <li><a href="http://">Show Less Like This</a></li>
                                <hr class="post-spliter" style="margin:0px 20px">
                                <li><a href="http://">Mute Author</a></li>
                                <li><a href="http://">Report</a></li>
                            </ul>
                        </div>
                    </button>
                </div>
            </div>
            </div>
            <!-- Like and comment sticky -->
            
            <!--comment zone-->
                <div class="commentLayout">
                    <div class="commentMainLayout">
                        <div class="commentContainer">
                            <div class="commentContainer__topFeature">
                                <h2>Count responses (1)</h2>
                                <div class="exitComment__Btn"><i class="fa-solid fa-x"></i></div>
                            </div>
                            <div class="typeInput">
                                <div class="typeInput__yourInfo">
                                    <img src="https://miro.medium.com/fit/c/64/64/0*9nuFDuWbcBYFXVMk" alt=""> <p>Your name goes here</p>
                                </div>
                                <div class="typeInput__comment">
                                    <textarea name="" id="" placeholder="What are your thoughts?"></textarea>
                                </div>
                                <div class="typeInput__commentFeature">
                                    <div class="typeInput__commentFeatureLeft">
                                        <button class="bold-btn"><b><i class="fa-solid fa-b"></i></b></button>
                                        <button><i class="fa-solid fa-italic"></i></button>
                                    </div>
                                    <div class="typeInput__commentFeatureRight">
                                        <button>Cancel</button>
                                        <button>Respond</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="post-spliter">
                        <div class="allCommentContainer">
                            <div class="showComment">
                                <div class="showComment__info">
                                    <a href="" class="showComment__info--avatar"><img src="https://miro.medium.com/fit/c/40/40/1*Nv8kl1sc8yOG2g40u1fECA.png" alt=""></a>
                                    <div class="showComment__info--nameAndTime">
                                        <a href="http://">Name here</a>
                                        <p>Publish time</p>
                                    </div>
                                </div>
                                <div class="showComment__content">
                                    vxxcvxcvxcv xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxas d na adba asbda djasb ajdbakdj adjka bajdb akjd akjdn kjdandkja dnak akdj nadkjan dkajsdna kdjnasjk adk nkanasjkdn axxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            <!--comment zone-->
        </div>
        <!-- viewpost -->
        
        <!-- rightNav -->
        <%- include('../../../components/rightNav/rightNavHome') %>
        <!-- rightNav -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/user/viewPost/viewPost.js"></script>
</html>