<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/pages/user/signUp/signup.css">
</head>
    <title>Document</title>
</head>
<body>
    <!-- <form action="" enctype="multipart/form-data"> -->
        <div class="container-Up">
            <div class="home-Up">
                <h1>Sign Up width Email</h1>
                <div  class="menu-text">
                    <p class="quotes"></p>
                </div>
            <div  class="menu-text-input">    
                    <p class="title-Up">Your Email</p>
                    <input type="email" class="input" id="email" name="email" placeholder="input your email"></input>
                    <p class="title-Up">you name</p>
                    <input type="text" class="input" id="username" name="username" placeholder="input your name"></input>
                    <p class="title-Up">Your Password</p>
                    <input type="password" class="input" name="password" id="password" placeholder="input your password"></input>
                </div>
                <div class="menu-tex-button">
                    <button class="signUp" onclick="register()" onkeyup="registerEnter(event)">register</button>
                </div>
            </div>
        </div>
    <!-- </form> -->
</body>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/views/pages/user/signUp/register.js"></script>
</html>