* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.header{
    width: 100%;
}

/* Mobile */
.header__mobile{
    display: none;
    width: 100%;
}
.header__moblie--common{
    background-color: rgba(255, 255, 255, 1);
    height: 56px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 500;/* cho mấy kia k đè đc lên nó */
    display: flex;
    align-items: center;
}
.header__mobileTop{
    top: 0;
    box-shadow: 0px -2px 10px rgba(0,0,0,50%);
    padding: 0px 24px;
    justify-content: space-between;
}
.header__mobileTop a{
    width: 44px;
    height: 25px;
    
}
.header__mobileTop a img{
    width: 44px;
    height: 25px;
}
.topFeature{
    display: flex;
    align-items: center;
    justify-content: right;
}
.topFeature > div{
    width: 37px;
    height: 37px;
    text-align: center;
    border-radius: 100%;
    border: 0.5px solid rgb(225, 219, 219);
    margin-left: 15px;
}

.topFeature > div > a{
    line-height: 37px;
    text-decoration: none;
}
.topFeature > div > a > i{
    color: black;
    font-size: 16px;
}
.topFeature-info{
    border: none !important;
    width: min-content !important;
    border-radius: 50px !important;
    padding: 0px 20px;
    background-color: black;
}
.topFeature-info a{
    color: white !important;
}
@media (max-width:1025px) {
    .header__mobile{
        display: block;
    }
}