<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/pages/user/createPost/createPost.css">
</head>

<body>
        <div id="wrap">
            <div id="buttonSubmit" data-idPost = '<%= postId %>'>
                <button>Save Post</button>
            </div>
            <div id="buttonCancel">
                <button>Cancel</button>
            </div>
            <div class="body-content">
                <div class="wrap-title">
                    <div>
                        <i class="fa-solid fa-plus border-circle-title circle-action-title"></i>
                        <i class="image-upload">
                            <label for="file-input">
                                <i class="hidden-icon-title fa-solid fa-camera"></i>
                            </label>
                            <input id="file-input" type="file" accept="image/*" />
                            <img id="imagePreview" src="" alt="your image" width="100%" />
                        </i>
                        <i class="hidden-icon-title fa-solid fa-play"></i>
                        <i class="hidden-icon-title fa-solid fa-left-right"></i>
                        <i class="hidden-icon-title fa-solid fa-ellipsis"></i>
                    </div>
                    <h3 class="header-title" placeholder="Title..." contenteditable="true" onfocus="">
                        <%= post.title%>
                        <span class="suggest-title"></span>
                    </h3>
                </div>
                <div class="wrap-father-content contentSubmit">
                    <%- post.content%>
                </div>
            </div>
        </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/views/pages/user/createPost/editPost.js"></script>

</html>