<div class="grid1">
  <div class="adminMenu"><%- include('../../../components/adminMenu/adminMenu.ejs') %></div>
  <div class="manageCategory">
<div>
  <input type="text" id="searchUser" placeholder="Search User">
  <button onclick="searchUser()">search</button>
</div>

<div class="pagination"><%- include('./paginationUser.ejs') %></div>

<% for(let i = 1; i <= total; i++) {%>
<button onclick="pagination('<%= i %>', 10)"><%= i %></button>
<%}%>

  </div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script src="/views/pages/admin/manageUser/managaUser.js"></script>
