<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/views/pages/admin/manageUser/mangaUser.css" />
  </head>
  <body>
    <div class="wrapper">
        <div class="custom-select" >
            <select>
              <option value="0">Ford</option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <!-- <option value="3">Citroen</option>
              <option value="4">Ford</option>
              <option value="5">Honda</option>
              <option value="6">Jaguar</option>
              <option value="7">Land Rover</option>
              <option value="8">Mercedes</option>
              <option value="9">Mini</option>
              <option value="10">Nissan</option>
              <option value="11">Toyota</option>
              <option value="12">Volvo</option> -->
            </select>
          </div>
        <div class="container">
            <table>
                <thead>
                  <tr>
                    <th>CODE</th>
                    <th>STOCK</th>
                    <th>CAP</th>
                    <th></th>
                    <!-- <th></th>
                    <th></th> -->
                  </tr>
                <thead>
                <tbody>
                  <tr>
                    <td>CES-9000</td>
                    <td>50mt</td>
                    <td>9mm</td>
                    <td>
                        <Button class="btn-view">View</Button>
                        <Button class="btn-edit">Edit</Button>
                        <Button class="btn-delete">Delete</Button>
                    </td>
                    <!-- <td><Button>Edit</Button></td>
                    <td><Button>Delete</Button></td> -->
                  </tr>
                     <tr>
                    <td>CES-9000</td>
                    <td>50mt</td>
                    <td>9mm</td>
                    <td>
                        <Button class="btn-view">View</Button>
                        <Button class="btn-edit">Edit</Button>
                        <Button class="btn-delete">Delete</Button>
                    </td>
                    <!-- <td><Button>Edit</Button></td>
                    <td><Button>Delete</Button></td> -->
                  </tr>
                     <tr>
                    <td>CES-9000</td>
                    <td>50mt</td>
                    <td>9mm</td>
                    <td>
                        <Button class="btn-view">View</Button>
                        <Button class="btn-edit">Edit</Button>
                        <Button class="btn-delete">Delete</Button>
                    </td>
                    <!-- <td><Button >Edit</Button></td>
                    <td><Button>Delete</Button></td> -->
                  </tr>
                     <tr>
                    <td>CES-9000</td>
                    <td>50mt</td>
                    <td>9mm</td>
                    <td>
                        <Button class="btn-view">View</Button>
                        <Button class="btn-edit">Edit</Button>
                        <Button class="btn-delete">Delete</Button>
                    </td>
                    <!-- <td><Button>Edit</Button></td>
                    <td><Button>Delete</Button></td> -->
                  </tr>
                </tbody>
              <table/>
        </div>
    </div>
  </body>
</html>