    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/pages/user/author/author.css">

    <div class="container_author">
        <div class="author-info">
            <div class="author-avatar">
                <img src="https://yt3.ggpht.com/cQSz6VD_BXWTl6xFh18hrNSjUj5nUKym6sYwg4fFccpbOLD0fw5sls8A_6Q1efBhQwwinCbPCA=s900-c-k-c0x00ffffff-no-rj" alt="">
            </div>
            <div class="author-username">
                <h3>Khánh Sky</h3>
            </div>
            <div class="author-fllow">
                <p>101k Fllowers</p>
            </div>
            <div class="author-wanting">
                <p>Author of "WANTING: The Power of Mimetic Desire in Everyday Life." Find more at <a href="https://www.facebook.com/MrCuong1996/">https://www.facebook.com/MrCuong1996/</a></p>
            </div>
            <div class="author-contact">
                <p>Follow</p>
                <p><i class="fa-solid fa-envelope"></i></p>
            </div>
            <div class="author_menu">
                <div class="author_menu-title">
                    <h3>Following</h3>
                </div>
                <div class="author_menu-list">
                    <div class="menu-list-avatar">
                        <img src="https://yt3.ggpht.com/cQSz6VD_BXWTl6xFh18hrNSjUj5nUKym6sYwg4fFccpbOLD0fw5sls8A_6Q1efBhQwwinCbPCA=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="menu-list-username">
                        <p>Phú Lê</p>
                    </div>
                    <div class="menu-list-dot">
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                </div>
                <div class="author_menu-list">
                    <div class="menu-list-avatar">
                        <img src="https://yt3.ggpht.com/cQSz6VD_BXWTl6xFh18hrNSjUj5nUKym6sYwg4fFccpbOLD0fw5sls8A_6Q1efBhQwwinCbPCA=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="menu-list-username">
                        <p>Phú Lê</p>
                    </div>
                    <div class="menu-list-dot">
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                </div>
                <div class="author_menu-list">
                    <div class="menu-list-avatar">
                        <img src="https://yt3.ggpht.com/cQSz6VD_BXWTl6xFh18hrNSjUj5nUKym6sYwg4fFccpbOLD0fw5sls8A_6Q1efBhQwwinCbPCA=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="menu-list-username">
                        <p>Phú Lê</p>
                    </div>
                    <div class="menu-list-dot">
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                </div>
                <div class="author_menu-list">
                    <div class="menu-list-avatar">
                        <img src="https://yt3.ggpht.com/cQSz6VD_BXWTl6xFh18hrNSjUj5nUKym6sYwg4fFccpbOLD0fw5sls8A_6Q1efBhQwwinCbPCA=s900-c-k-c0x00ffffff-no-rj" alt="">
                    </div>
                    <div class="menu-list-username">
                        <p>Phú Lê</p>
                    </div>
                    <div class="menu-list-dot">
                        <p><i class="fa-solid fa-ellipsis"></i></p>
                    </div>
                </div>
              
                <div class="see-all">
                    <p>See All (113)</p>
                </div>
                <div class="menu-list">
                    <p>list</p>
                </div>
            </div>
        </div>
    </div>
