body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid1{
    display: flex;
}
.adminMenu{
    width: 300px;
    position: fixed;
}

.manageCategory{
    margin-left: 300px;
    width: calc(100vw - 300px);
}