* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
.allContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1504px;
    margin: auto;
}
.mainHome{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column ;
    width: 692px;
}
.homeTab{
    margin-top: 10px;
    min-width: fit-content;
    display: flex;
    box-shadow: rgb(230 230 230) 0px -1px 0px inset;
    box-sizing: border-box;
}
.homeTab > a{
    cursor: pointer;
    min-width: max-content;
    margin-right: 32px;
    padding-bottom: 16px;
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}
.tabActive{
    border-bottom: 1px solid rgba(41, 41, 41, 1);
    color: black !important;
}
.homePost{
    margin-top: 32px;
}
.homePost-container{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.homePost__authInfo{
    display: flex;
    align-items: center;
}
.homePost__authInfo > a{
    text-decoration: none;
}
.homePost__authInfoAvatar{
    display: flex;
    align-items: center;
}
.homePost__authInfoAvatar > img{
    width: 24px;
    height: 24px;
    border-radius: 100px;
}
.homePost__authInfoName{
    margin-left: 8px;
    color: rgba(41, 41, 41, 1);
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}
.homePost__authInfoPostTime{
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
}
.homePost__postInfo{
    margin-top: 12px;
    display: flex;
}
.homePost__postInfomation{
    display: flex;
    flex-direction: column;
    width: 82%;
}
.homePost__postInfomation > a{
    text-decoration: none;
}
.homePost__postInfomation--title{
    padding-bottom: 8px;
    max-height: 56px;
    line-height: 28px;
    font-size: 22px;
    color: rgba(41, 41, 41, 1);
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 2;/* Số dòng */
    -webkit-box-orient: vertical;
    font-weight: 700;
}
.homePost__postInfomation--content{
    max-height: 72px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 3;/* Số dòng */
    -webkit-box-orient: vertical;
    font-weight: 400;
}
.homePost__postInfomation--content img,.homePost__postInfomation--content input,
.homePost__postInfomation--content br, .homePost__postInfomation--content i{
    display: none !important;
}
.homePost__otherInfo{
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}
.homePost__otherInfoLeft{
    display: flex;
    align-items: center;
    padding-right: 8px;
}
.homePost__otherInfoLeft--category{
    padding: 2px 8px;
    text-decoration: none;
    background-color: rgba(242, 242, 242, 1);
    font-size: 13px;
    border-radius: 100px;
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
}
.homePost__otherInfoLeft--timeRead{
    text-decoration: none;
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    margin-left: 8px;
}
.homePost__otherInfoRight{
    display: flex;
}
.homePost__otherInfoRight > button{
    border: none;
    background-color: transparent;
    margin-right: 16px;
    font-size: 24px;
}
.homePost__otherInfoRight--moreFeature{
    margin-right: 0px !important;
    display: inline-block;
}
.moreFeature{
    z-index: 700;
    position: absolute;
    box-shadow: rgb(230 230 230) 0px 1px 4px;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 4px;
    display: none;
}
.moreFeature > ul{
    align-items: stretch;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid rgba(230, 230, 230, 1);
    background: white;
}
.moreFeature > ul > li{
    padding: 8px 20px;
}
.moreFeature > ul > li:hover{
    background: #eaeaea;
}
.moreFeature > ul > li >a{
    color: rgba(117, 117, 117, 1);
    font-size:  14px;
    line-height: 20px;
}
.homePost__postAvatar{
    margin-left: 60px;
    width: 18%;  
}
.homePost__postAvatar > a{
    text-decoration: none;
}
.homePost__postAvatar > a > img{
    width: 112px;
    height: 112px;
}
.post-spliter{
    background-color: rgba(230, 230, 230, 1);
    height: 1px;
    border: 0;
}
@media (max-width:600px) {
    .allContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: auto;
        padding: 56px 24px;
    }
    .mainHome{
        max-width: 98%;
    }
    .homePost__postInfomation--title{
        max-height: 40px;
        line-height: 20px;
        font-size: 16px;
        color: rgba(41, 41, 41, 1);
        overflow: hidden;
        display: -webkit-box; 
        -webkit-line-clamp: 2;/* Số dòng */
        -webkit-box-orient: vertical;
        font-weight: 700;
    }
    .homePost__postInfomation--content{
        display: none;
    }
    .homePost__otherInfo{
        padding: 16px 0px;
    }
    .homePost__postAvatar{
        margin-left: 24px;
        
    }
    .homePost__postAvatar > a > img{
        width: 56px;
        height: 56px;
    }
    .homePost__otherInfoRight > button{
        margin-right: 8px;
        font-size: 18px;
    }
}