<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/views/components/adminMenu/adminMenu.css" />
<div class="container">
  <div>
    <div class="text-center1">
      <input type="text" placeholder="Seach ">
    </div>
  </div>
  <div>
    <div class="row">
      <p><a href="/api/admin/profile">profile</a></p>
      <p><a href="/api/post/getAllPosts">manage post</a></p>
      <p><a href="/api/admin/getAllUsers">manage user</a></p>
      <p><a href="/api/category//get-all-cat">profile category</a></p>
      <p><a href="/api/auth/logoutAdmin">Log out</a></p>
    </div>
  </div>
</div>