<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/views/components/adminMenu/adminMenu.css" />
<div class="container">
  <div>
    <div class="img-user">
      <img
        src="/publics/static/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg"
        alt="img default"
      />
      <h3>Admin LTE 3</h3>
    </div>
    <div>
      <h4>Admin LTE 3</h4>
    </div>
    <div class="text-center1">
      <input type="text" placeholder="Seach ">
    </div>
  </div>
  <div>
    <div class="row">
      <p>DashBoad</p>
      <p>manage post</p>
      <p>manage user</p>
      <p>profile admin</p>
      <p>widgets</p>
      <p>Layout Options</p>
      <p>Charts</p>
      <p>UI element</p>
      <p>Forms</p>
    </div>
  
  </div>
</div>
